<header>
  <nav>
    <div class="nav-left">
      <a routerLink="/services-home">
        <img src="assets/Logo/MainLogo.png" alt="Company Logo" class="logo">
      </a>
      <a routerLink="/services-home" class="nav-link">Services</a>
      <a routerLink="/about-us" class="nav-link">About Us</a>
      <a routerLink="/contact-us" class="nav-link">Contact Us</a>
    </div>

    <div class="nav-right">
      <a routerLink="/login" class="nav-link">Login</a>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 Kakarla Dairy Farms. All rights reserved.</p>
  <p>Contact us at <a href="mailto:contact@kdf.com">contact@kdf.com</a></p>
</footer>
