
<header>
  <nav>
    <div class="nav-left">
      <img src="assets/Logo/MainLogo.png" alt="Company Logo" class="logo">
    </div>
    <div class="nav-right">
      <a routerLink="/login">Login</a>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 Kakarla Dairy Farms. All rights reserved.</p>
  <p>Contact us at <a href="mailto:contact@kdf.com">contact@kdf.com</a></p>
</footer>
<!-- <div>
  <h1>Users</h1>
  <ul>
    <li *ngFor="let user of users">{{ user.KFUserName }} - {{ user.KFUserEmail }}</li>
  </ul>

  <h2>Add User</h2>
  <form (ngSubmit)="addUser()">
    <label>Name:
      <input [(ngModel)]="newUser.KFUserName" name="name" required />
    </label>
    <label>Email:
      <input [(ngModel)]="newUser.KFUserEmail" name="email" type="email" required />
    </label>
    <button type="submit">Add User</button>
  </form> 

</div> -->
